{% extends 'base.html' %}

{% block header %}
<h1> {% block title %} Create {% endblock %}</h1>
<h2> User: {{ session.user_id }} {{ g.user['username'] }} </h2>
{% endblock %}

{% block content%}
<form method="post">
    <label for="title"></label>
    <input type="text" name="title" id="title" value="{{ request.form['title'] }}">
    <label for="body"></label>
    <textarea name="body" id="body" > {{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}
